@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

:root {
  --grey: #181818;
  --black: #000000;
  --white: #ffffff;
  --brightgreen-border: #09e246;
  --green-glow: #5acf7b;
}

body {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  cursor: crosshair;
  font-family: "Space Mono", monospace;
  overflow: hidden;
}

#backgroundImage {
  position: absolute;
  z-index: -1;
  width: 200%;
  height: 200%;
  background: url("https://i.pinimg.com/originals/4b/74/bb/4b74bbec8fd6b3a19d8edf5b2bae12ad.jpg")
    center center no-repeat;
  transform: rotate(90deg);
  background-clip: border-box;
}

.box {
  background-color: var(--black);
  padding: 150px 200px;
  border: 5px solid var(--brightgreen-border);
  box-shadow: 0 0 15px 10px var(--green-glow);
  border-radius: 100%;
}

.box h2 {
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 1.8px;
  font-size: 32px;
  color: var(--white);
  text-transform: uppercase;
}

input {
  padding: 20px;
  user-select: none;
  height: 50px;
  width: 400px;
  border-radius: 6px;
  border: 2px solid var(--grey);
  outline: none;
  font-size: 22px;
  font-family: "Space Mono", monospace;
}
input::placeholder {
  font-size: 14px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.button {
  color: var(--white);
  border: 2px solid var(--brightgreen-border);
  border-radius: 50%;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 0 0 5px 5px var(--green-glow);
}

.button:hover {
  color: var(--black);
  background-color: var(--brightgreen-border);
  cursor: grabbing;
}
